.reviewsMob-section {
  background-image: url(../images/reviewsBgMob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../images/reviewsBgMob@2x.jpg);
    }
  }

  @media screen and (min-width: 835px) {
    display: none;
  }
}

.reviewsMob-section__container {
  padding: 32px 16px;
}

.reviewsMob-section__tittle {
  margin-bottom: 32px;
  text-align: center;
  font-family: Jomolhari;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
  color: var(--primary-white-color);
}

.reviewsMob-section__slide-inner-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 343px;
  height: 343px;
  padding: 32px;
  border: 1px solid var(--primary-white-color);
}

.reviewsMob-section__img-and-info-wrapper {
  margin-bottom: 32px;
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.reviewsMob-section__image-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.reviewsMob-section__name {
  margin-bottom: 11px;
  font-family: Jomolhari;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.18px;
  color: var(--primary-white-color);
}

.reviewsMob-section__slide-description {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.16px;
  color: var(--primary-white-color);
}

.reviewsMob-section__navigation {
  margin-top: 32px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nextEl,
.prevEl {
  height: auto;
  color: #5a5959;
  transition: color 250ms var(--main-timing-function);
}

.reviewsMob-section__navigation-icon {
  fill: currentColor;
}

.nextEl:hover,
.nextEl:focus,
.prevEl:focus,
.prevEl:hover {
  color: var(--primary-white-color);
}
