%section {
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
