<section class="galleryMob-section" id="galleryMob">
  <h2 class="galleryMob-section__tittle">Gallery</h2>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide galleryMob-section__swiper-slide">
        <div class="galleryMob-section__image-wrapper">
          <img
            srcset="./images/gallery1Mob.jpg 1x, ./images/gallery1Mob@2x.jpg 2x"
            src="./images/gallery1Mob.jpg"
            alt="Carpathians"
            loading="lazy"
            width="343"
            height="493"
            class="galleryMob-section__swiper-slide-image"
          />
        </div>
      </div>
      <div class="swiper-slide galleryMob-section__swiper-slide">
        <div class="galleryMob-section__image-wrapper">
          <img
            srcset="
              ./images/gallery2Desc.jpg    1x,
              ./images/gallery2Desc@2x.jpg 2x
            "
            src="./images/gallery2Desc.jpg"
            alt="Carpathians"
            loading="lazy"
            width="343"
            height="493"
            class="galleryMob-section__swiper-slide-image"
          />
        </div>
      </div>
      <div class="swiper-slide galleryMob-section__swiper-slide">
        <div class="galleryMob-section__image-wrapper">
          <img
            srcset="
              ./images/gallery3Desc.jpg    1x,
              ./images/gallery3Desc@2x.jpg 2x
            "
            src="./images/gallery3Desc.jpg"
            alt="Carpathians"
            loading="lazy"
            width="343"
            height="493"
            class="galleryMob-section__swiper-slide-image"
          />
        </div>
      </div>
      <div class="swiper-slide galleryMob-section__swiper-slide">
        <div class="galleryMob-section__image-wrapper">
          <img
            srcset="
              ./images/gallery4Desc.jpg    1x,
              ./images/gallery4Desc@2x.jpg 2x
            "
            src="./images/gallery4Desc.jpg"
            alt="Carpathians"
            loading="lazy"
            width="343"
            height="493"
            class="galleryMob-section__swiper-slide-image"
          />
        </div>
      </div>
      <div class="swiper-slide galleryMob-section__swiper-slide">
        <div class="galleryMob-section__image-wrapper">
          <img
            srcset="
              ./images/gallery5Desc.jpg    1x,
              ./images/gallery5Desc@2x.jpg 2x
            "
            src="./images/gallery5Desc.jpg"
            alt="Carpathians"
            loading="lazy"
            width="343"
            height="493"
            class="galleryMob-section__swiper-slide-image"
          />
        </div>
      </div>
      <div class="swiper-slide galleryMob-section__swiper-slide">
        <div class="galleryMob-section__image-wrapper">
          <img
            srcset="
              ./images/gallery6Desc.jpg    1x,
              ./images/gallery6Desc@2x.jpg 2x
            "
            src="./images/gallery6Desc.jpg"
            alt="Carpathians"
            loading="lazy"
            width="343"
            height="493"
            class="galleryMob-section__swiper-slide-image"
          />
        </div>
      </div>
      <div class="swiper-slide galleryMob-section__swiper-slide">
        <div class="galleryMob-section__image-wrapper">
          <img
            srcset="
              ./images/gallery7Desc.jpg    1x,
              ./images/gallery7Desc@2x.jpg 2x
            "
            src="./images/gallery7Desc.jpg"
            alt="Carpathians"
            loading="lazy"
            width="343"
            height="493"
            class="galleryMob-section__swiper-slide-image"
          />
        </div>
      </div>
      <div class="swiper-slide galleryMob-section__swiper-slide">
        <div class="galleryMob-section__image-wrapper">
          <img
            srcset="
              ./images/gallery8Desc.jpg    1x,
              ./images/gallery8Desc@2x.jpg 2x
            "
            src="./images/gallery8Desc.jpg"
            alt="Carpathians"
            loading="lazy"
            width="343"
            height="493"
            class="galleryMob-section__swiper-slide-image"
          />
        </div>
      </div>
    </div>

    <div class="galleryMob-section__navigation">
      <div class="prevEl">
        <svg class="galleryMob-section__navigation-icon" width="114">
          <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="nextEl">
        <svg class="galleryMob-section__navigation-icon" width="114">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
