<section class="galleryTab-section" id="gallery">
  <h2 class="galleryTab-section__tittle">Gallery</h2>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide galleryTab-section__swiper-slide">
        <ul class="galleryTab-section__image-list">
          <li class="galleryTab-section__image-wrapper">
            <img
              srcset="
                ./images/gallery1Tab.jpg    1x,
                ./images/gallery1Tab@2x.jpg 2x
              "
              src="./images/gallery1Tab.jpg"
              alt="Carpathians"
              loading="lazy"
              width="377"
              height="494"
              class="galleryTab-section__swiper-slide-image"
            />
          </li>
          <li class="galleryTab-section__image-wrapper">
            <img
              srcset="
                ./images/gallery2Tab.jpg    1x,
                ./images/gallery2Tab@2x.jpg 2x
              "
              src="./images/gallery2Tab.jpg"
              alt="Carpathians"
              loading="lazy"
              width="377"
              height="494"
              class="galleryTab-section__swiper-slide-image"
            />
          </li>
        </ul>
      </div>

      <div class="swiper-slide galleryTab-section__swiper-slide">
        <ul class="galleryTab-section__image-list">
          <li class="galleryTab-section__image-wrapper">
            <img
              srcset="
                ./images/gallery3Desc.jpg    1x,
                ./images/gallery3Desc@2x.jpg 2x
              "
              src="./images/gallery3Desc.jpg"
              alt="Carpathians"
              loading="lazy"
              width="377"
              height="494"
              class="galleryTab-section__swiper-slide-image"
            />
          </li>
          <li class="galleryTab-section__image-wrapper">
            <img
              srcset="
                ./images/gallery4Desc.jpg    1x,
                ./images/gallery4Desc@2x.jpg 2x
              "
              src="./images/gallery4Desc.jpg"
              alt="Carpathians"
              loading="lazy"
              width="377"
              height="494"
              class="galleryTab-section__swiper-slide-image"
            />
          </li>
        </ul>
      </div>

      <div class="swiper-slide galleryTab-section__swiper-slide">
        <ul class="galleryTab-section__image-list">
          <li class="galleryTab-section__image-wrapper">
            <img
              srcset="
                ./images/gallery5Desc.jpg    1x,
                ./images/gallery5Desc@2x.jpg 2x
              "
              src="./images/gallery5Desc.jpg"
              alt="Carpathians"
              loading="lazy"
              width="377"
              height="494"
              class="galleryTab-section__swiper-slide-image"
            />
          </li>
          <li class="galleryTab-section__image-wrapper">
            <img
              srcset="
                ./images/gallery6Desc.jpg    1x,
                ./images/gallery6Desc@2x.jpg 2x
              "
              src="./images/gallery6Desc.jpg"
              alt="Carpathians"
              loading="lazy"
              width="377"
              height="494"
              class="galleryTab-section__swiper-slide-image"
            />
          </li>
        </ul>
      </div>

      <div class="swiper-slide galleryTab-section__swiper-slide">
        <ul class="galleryTab-section__image-list">
          <li class="galleryTab-section__image-wrapper">
            <img
              srcset="
                ./images/gallery7Desc.jpg    1x,
                ./images/gallery7Desc@2x.jpg 2x
              "
              src="./images/gallery7Desc.jpg"
              alt="Carpathians"
              loading="lazy"
              width="377"
              height="494"
              class="galleryTab-section__swiper-slide-image"
            />
          </li>
          <li class="galleryTab-section__image-wrapper">
            <img
              srcset="
                ./images/gallery8Desc.jpg    1x,
                ./images/gallery8Desc@2x.jpg 2x
              "
              src="./images/gallery8Desc.jpg"
              alt="Carpathians"
              loading="lazy"
              width="377"
              height="494"
              class="galleryTab-section__swiper-slide-image"
            />
          </li>
        </ul>
      </div>
    </div>

    <div class="galleryTab-section__navigation">
      <div class="prevEl">
        <svg class="galleryTab-section__navigation-icon" width="114">
          <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="nextEl">
        <svg class="galleryTab-section__navigation-icon" width="114">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
