<header class="header">
  <a class="header__link" href="./index.html">
    <svg class="header__logo" width="62" height="40">
      <use href="./images/symbol-defs.svg#icon-logo"></use>
    </svg>
  </a>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__nav-link" href="#about">About us</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#ourTours">Tours</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</header>
