<section class="hero-section">
  <div class="hero-section__container">
    <p class="hero-section__subTittle">Unlock the Wonders </br>of</p>
    <h1 class="hero-section__tittle">Ukraine</h1>
    <h2 class="hero-section__transformTittle">Ukraine</h2>
    <a href="#ourTours" class="hero-section__button">Our tours</a>
        
  </div>
  <ul class="hero-section__list">
<li class="hero-section__item">
    <a class="hero-section__link">
        <svg class="hero-section__icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
        </svg>
    </a>
</li>
<li class="hero-section__item">
    <a class="hero-section__link">
        <svg class="hero-section__icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
    </a>
</li>
<li class="hero-section__item">
    <a class="hero-section__link">
        <svg class="hero-section__icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
        </svg>
    </a>
</li>
  </ul>
</section>
