<div class="mobile-menu js-menu-container">
  <a href="./index.html" class="mobile-menu__logo-link"
    ><svg class="mobile-menu__logo-icon" width="64" ; height="46">
      <use href="./images/symbol-defs.svg#icon-logo"></use>
    </svg>
  </a>
  <button
    class="mobile-menu__button-close js-close-menu"
    aria-label="close mobile-menu button"
  >
    <svg class="mobile-menu__button-icon" width="40" ; height="40">
      <use href="./images/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <div class="mobile-menu__container">
    <nav class="mobile-menu__navigation">
      <ul class="mobile-menu__navigation-list">
        <li class="mobile-menu__navigation-item">
          <a class="mobile-menu__navigation-link" href="#about">About us</a>
        </li>
        <li class="mobile-menu__navigation-item">
          <a class="mobile-menu__navigation-link" href="#toursMob">Tours</a>
        </li>
        <li class="mobile-menu__navigation-item">
          <a class="mobile-menu__navigation-link" href="#galleryMob">Gallery</a>
        </li>
        <li class="mobile-menu__navigation-item">
          <a class="mobile-menu__navigation-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
