<section class="ourTours-section" id="toursMob">
  <h2 class="ourTours-section-tittle" id="ourTours">Our tours</h2>
  <div class="swiper ourTours-section__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper ourTours-section__swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide ourTours-section__swiper-slide">
        <picture>
          <source
            media="(min-width:835px)"
            srcset="
              ./images/ourTours1Tab.jpg    1x,
              ./images/ourTours1Tab@2x.jpg 2x
            "
          />
          <img
            srcset="
              ./images/ourTours1Mob.jpg    1x,
              ./images/ourTours1Mob@2x.jpg 2x
            "
            src="./images/ourTours1Mob.jpg"
            alt="Our tours"
            loading="lazy"
            class="ourTours-section__slide-image"
          />
        </picture>
        <div class="ourTours-section__slide-info-wrapper">
          <h3 class="ourTours-section__slide-tittle">
            Lake Synevyr and Shipit waterfall
          </h3>
          <div class="ourTours-section__slide-inner-info-wrapper">
            <p class="ourTours-section__slide-description">
              This very interesting excursion will introduce you to the most
              beautiful lake of the Carpathians "Synevyr", the impressive and
              magical waterfall lake Synevirm "Shypit", which is also located in
              the Ukrainian Carpathians. You will have the opportunity to try
              Soymivska and Kelechynska mineral springs, drinks and delicious
              dishes of Carpathian cuisine and, of course, admire the beautiful
              scenery of the unique Ukrainian Carpathians.
            </p>
            <ul class="ourTours-section__slide-list">
              Included:
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-bus"></use></svg
                >Transfer
              </li>
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-card"></use></svg
                >Travel insurance
              </li>
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-face"></use></svg
                >Professional guide
              </li>
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-ticket"></use></svg
                >Travel insurance
              </li>
            </ul>
          </div>
          <a class="ourTours-section__slide-button">Book</a>
        </div>
      </div>
      <div class="swiper-slide ourTours-section__swiper-slide">
        <img
          srcset="
            ./images/ourTours2Desc.jpg    1x,
            ./images/ourTours2Desc@2x.jpg 2x
          "
          src="./images/ourTours2Desc.jpg"
          alt="Our tours"
          loading="lazy"
          class="ourTours-section__slide-image"
        />
        <div class="ourTours-section__slide-info-wrapper">
          <h3 class="ourTours-section__slide-tittle">
            Ancient History & Vibrant Present
          </h3>
          <div class="ourTours-section__slide-inner-info-wrapper">
            <p class="ourTours-section__slide-description">
              This very interesting excursion will introduce you to the most
              beautiful places in Kyiv , the impressive and magical St. Sophia's
              Cathedral, which is also located in heart of Ukraine - Kyiv. You
              will have the opportunity to visit Bessarabsky Market and taste
              local delicacies. Also you will vist Kiev Pechersk Lavra - one of
              the most sacraliest place in Ukraine.
            </p>
            <ul class="ourTours-section__slide-list">
              Included:
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-bus"></use></svg
                >Transfer
              </li>
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-card"></use></svg
                >Travel insurance
              </li>
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-face"></use></svg
                >Professional guide
              </li>
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-ticket"></use></svg
                >Travel insurance
              </li>
            </ul>
          </div>
          <a class="ourTours-section__slide-button">Book</a>
        </div>
      </div>
      <div class="swiper-slide ourTours-section__swiper-slide">
        <img
          srcset="
            ./images/ourTours3Desc.jpg    1x,
            ./images/ourTours3Desc@2x.jpg 2x
          "
          src="./images/ourTours3Desc.jpg"
          alt="Our tours"
          loading="lazy"
          class="ourTours-section__slide-image"
        />
        <div class="ourTours-section__slide-info-wrapper">
          <h3 class="ourTours-section__slide-tittle">Black Sea Jewel</h3>
          <div class="ourTours-section__slide-inner-info-wrapper">
            <p class="ourTours-section__slide-description">
              This very interesting excursion will introduce you to the most
              beautiful places in pearl of Black Sea Odessa. You will visit such
              prominent architecture monuments as Potemkin Steps and Odessa
              Opera and Ballet Theatre. You will have the opportunity to try
              delicious meals in seafood restoraunt .
            </p>
            <ul class="ourTours-section__slide-list">
              Included:
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-bus"></use></svg
                >Transfer
              </li>
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-card"></use></svg
                >Travel insurance
              </li>
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-face"></use></svg
                >Professional guide
              </li>
              <li class="ourTours-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-ticket"></use></svg
                >Travel insurance
              </li>
            </ul>
          </div>
          <a class="ourTours-section__slide-button">Book</a>
        </div>
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="ourTours-section__navigation">
      <div class="prevEl">
        <svg class="ourTours-section__navigation-icon" width="114">
          <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="nextEl">
        <svg class="ourTours-section__navigation-icon" width="114">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
