<section class="ourToursDesc-section" id="ourTours">
  <h2 class="ourToursDesc-section__tittle" >Our tours</h2>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide ourToursDesc-section__slide">
        <div class="ourToursDesc-section__inner-slide-wrapper">
          <div class="ourToursDesc-section__slide-image-wrapper">
            <img
              srcset="
                ./images/ourTours1Desc.jpg    1x,
                ./images/ourTours1Desc@2x.jpg 2x
              "
              src="./images/ourTours1Desc.jpg"
              alt="Our tours"
              loading="lazy"
              class="ourTours-section__slide-image"
            />
          </div>
          <div class="ourToursDesc-section__navigation-wrapper">
            <div class="prevEl ourToursDesc-section__navigation-button1">
            <svg class="ourToursDesc-section__navigation-icon" width="114">
              <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          </div>
        </div>
          
          <div class="ourToursDesc-section__slide-info-wrapper">
            <h3 class="ourToursDesc-section__slide-info-tittle">
              Lake Synevyr and Shipit waterfall
            </h3>
            <ul class="ourToursDesc-section__slide-info-shedule-list">
              <li class="ourToursDesc-section__slide-info-shedule-item">
                Departure from Lviv (07:00) / Stryi (08:00)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                Pylypets (overview of Shipit waterfall and lunch)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                Synevyr Pass (photographing and viewing of Carpathian panoramas)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                "Synevyr" National Park (brown bear rehabilitation center and
                transition to the lake)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                Stryi (21:00)/Lviv (return by 22:00)
              </li>
            </ul>
            <ul class="ourToursDesc-section__slide-list">
              Included:
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-bus"></use></svg
                >Transfer
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-card"></use></svg
                >Travel insurance
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-face"></use></svg
                >Professional guide
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourTours-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-ticket"></use></svg
                >Travel insurance
              </li>
            </ul>
            <div class="ourToursDesc-section__slide-booking-wrapper">
              <a class="ourToursDesc-section__slide-booking-button" href="#travel">Book</a>
              <p class="ourToursDesc-section__slide-booking-price">Price:</p>
              <p class="ourToursDesc-section__slide-booking-price-amount">
                2000 UAH
              </p>
            </div>
          </div>
        </div>
        <div class="ourToursDesc-section__inner-slide-wrapper">
          <div class="ourToursDesc-section__slide-image-wrapper">
            <img
              srcset="
                ./images/ourTours2Desc.jpg    1x,
                ./images/ourTours2Desc@2x.jpg 2x
              "
              src="./images/ourTours2Desc.jpg"
              alt="Our tours"
              loading="lazy"
              class="ourTours-section__slide-image"
            />
          </div>
          <div class= "ourToursDesc-section__navigation-wrapper">
            <div class="nextEl ourToursDesc-section__navigation-button2">
            <svg class="ourToursDesc-section__navigation-icon" width="114">
              <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
          <div class="ourToursDesc-section__slide-info-wrapper">
            <h3 class="ourToursDesc-section__slide-info-tittle">
            Ancient History & Vibrant Present
            </h3>
            <ul class="ourToursDesc-section__slide-info-shedule-list">
              <li class="ourToursDesc-section__slide-info-shedule-item">
               Departure from Kiev (08:00)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                St. Sophia's Cathedral (iconic UNESCO World Heritage site)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                 Golden Gate (historical monument visit)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                 Bessarabsky Market (tasting local delicacies) 
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                Kiev Pechersk Lavra (exploration of the significant monastery)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
               Return to Kiev by 20:00
              </li>
            </ul>
            <ul class="ourToursDesc-section__slide-list">
              Included:
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-bus"></use></svg
                >Transfer
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-card"></use></svg
                >Travel insurance
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-face"></use></svg
                >Professional guide
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-ticket"></use></svg
                >Travel insurance
              </li>
            </ul>
            <div class="ourToursDesc-section__slide-booking-wrapper">
              <a class="ourToursDesc-section__slide-booking-button" href="#travel">Book</a>
              <p class="ourToursDesc-section__slide-booking-price">Price:</p>
              <p class="ourToursDesc-section__slide-booking-price-amount">
                3000 UAH
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide ourToursDesc-section__slide">
        <div class="ourToursDesc-section__inner-slide-wrapper">
          <div class="ourToursDesc-section__slide-image-wrapper">
            <img
              srcset="
                ./images/ourTours2Desc.jpg    1x,
                ./images/ourTours2Desc@2x.jpg 2x
              "
              src="./images/ourTours2Desc.jpg"
              alt="Our tours"
              loading="lazy"
              class="ourTours-section__slide-image"
            />
          </div>
          <div class="ourToursDesc-section__navigation-wrapper">
            <div class="prevEl ourToursDesc-section__navigation-button1">
            <svg class="ourToursDesc-section__navigation-icon" width="114">
              <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          </div>
        </div>
          <div class="ourToursDesc-section__slide-info-wrapper">
            <h3 class="ourToursDesc-section__slide-info-tittle">
            Ancient History & Vibrant Present
            </h3>
            <ul class="ourToursDesc-section__slide-info-shedule-list">
              <li class="ourToursDesc-section__slide-info-shedule-item">
               Departure from Kiev (08:00)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                St. Sophia's Cathedral (iconic UNESCO World Heritage site)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                 Golden Gate (historical monument visit)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                 Bessarabsky Market (tasting local delicacies) 
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                Kiev Pechersk Lavra (exploration of the significant monastery)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
               Return to Kiev by 20:00
              </li>
            </ul>
            <ul class="ourToursDesc-section__slide-list">
              Included:
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-bus"></use></svg
                >Transfer
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-card"></use></svg
                >Travel insurance
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-face"></use></svg
                >Professional guide
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-ticket"></use></svg
                >Travel insurance
              </li>
            </ul>
            <div class="ourToursDesc-section__slide-booking-wrapper">
              <a class="ourToursDesc-section__slide-booking-button" href="#travel">Book</a>
              <p class="ourToursDesc-section__slide-booking-price">Price:</p>
              <p class="ourToursDesc-section__slide-booking-price-amount">
                3000 UAH
              </p>
            </div>
          </div>
        </div>
         <div class="ourToursDesc-section__inner-slide-wrapper">
          <div class="ourToursDesc-section__slide-image-wrapper">
            <img
              srcset="
                ./images/ourTours3Desc.jpg    1x,
                ./images/ourTours3Desc@2x.jpg 2x
              "
              src="./images/ourTours3Desc.jpg"
              alt="Our tours"
              loading="lazy"
              class="ourTours-section__slide-image"
            />
          </div>
          <div class= "ourToursDesc-section__navigation-wrapper">
            <div class="nextEl ourToursDesc-section__navigation-button2">
            <svg class="ourToursDesc-section__navigation-icon" width="114">
              <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
          <div class="ourToursDesc-section__slide-info-wrapper">
            <h3 class="ourToursDesc-section__slide-info-tittle">
           Black Sea Jewel
            </h3>
            <ul class="ourToursDesc-section__slide-info-shedule-list">
              <li class="ourToursDesc-section__slide-info-shedule-item">
              Departure from Odessa (08:00)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                Primorsky Boulevard (city's scenic walk)
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                 Potemkin Steps (historical site and great city view) 
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                 Odessa Opera and Ballet Theatre (exterior visit) 
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
                Lunch at a local seafood restaurant
              </li>
              <li class="ourToursDesc-section__slide-info-shedule-item">
              Return to Odessa by 20:00
              </li>
            </ul>
            <ul class="ourToursDesc-section__slide-list">
              Included:
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-bus"></use></svg
                >Transfer
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-card"></use></svg
                >Travel insurance
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-face"></use></svg
                >Professional guide
              </li>
              <li class="ourToursDesc-section__slide-item">
                <svg
                  class="ourToursDesc-section__slide-icon"
                  width="24"
                  height="24"
                >
                  <use href="./images/symbol-defs.svg#icon-ticket"></use></svg
                >Travel insurance
              </li>
            </ul>
            <div class="ourToursDesc-section__slide-booking-wrapper">
              <a class="ourToursDesc-section__slide-booking-button" href="#travel">Book</a>
              <p class="ourToursDesc-section__slide-booking-price">Price:</p>
              <p class="ourToursDesc-section__slide-booking-price-amount">
                3500 UAH
              </p>
            </div>
          </div>
        </div>
    
    </div>
  </div>

</section>
