<section class="reviewsMob-section">
  <div class="reviewsMob-section__container">
    <h2 class="reviewsMob-section__tittle">Reviews</h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide reviewsMob-section__swiper-slide">
          <div class="reviewsMob-section__slide-inner-wrapper">
            <div class="reviewsMob-section__img-and-info-wrapper">
              <div class="reviewsMob-section__image-wrapper">
                <img
                  srcset="
                    ./images/reviewsAva1.jpg    1x,
                    ./images/reviewsAva1@2x.jpg 2x
                  "
                  src="./images/reviewsAva1.jpg"
                  alt="review ava"
                  loading="lazy"
                  width="80"
                  height="80"
                  class="reviewsMob-section__image"
                />
              </div>

              <div class="reviewsMob-section__name-rate-wrapper">
                <p class="reviewsMob-section__name">Dmitro</p>
                <div class="reviewsMob-section__rate-wrapper">
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </div>
              </div>
            </div>
            <p class="reviewsMob-section__slide-description">
              It was an incredible trip and I am very grateful to the organizers
              for the opportunity to learn more about our country
            </p>
          </div>
        </div>
        <!-- /second slide -->
        <div class="swiper-slide reviewsMob-section__swiper-slide">
          <div class="reviewsMob-section__slide-inner-wrapper">
            <div class="reviewsMob-section__img-and-info-wrapper">
              <div class="reviewsMob-section__image-wrapper">
                <img
                  srcset="
                    ./images/reviewsAva2.jpg    1x,
                    ./images/reviewsAva2@2x.jpg 2x
                  "
                  src="./images/reviewsAva2.jpg"
                  alt="review ava"
                  loading="lazy"
                  width="80"
                  height="80"
                  class="reviewsMob-section__image"
                />
              </div>
              <div class="reviewsMob-section__name-rate-wrapper">
                <p class="reviewsMob-section__name">Alisa</p>
                <div class="reviewsMob-section__rate-wrapper">
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </div>
              </div>
            </div>
            <p class="reviewsMob-section__slide-description">
              I really like to travel and try to do it as often as possible. The
              last one was to Lake Synevir and it was very cool, a great route,
              a comfortable bus, delicious food. I will definitely go somewhere
              else with you
            </p>
          </div>
        </div>

        <!-- 3slide -->
        <div class="swiper-slide reviewsMob-section__swiper-slide">
          <div class="reviewsMob-section__slide-inner-wrapper">
            <div class="reviewsMob-section__img-and-info-wrapper">
              <div class="reviewsMob-section__image-wrapper">
                <img
                  srcset="
                    ./images/reviewsAva3.jpg    1x,
                    ./images/reviewsAva3@2x.jpg 2x
                  "
                  src="./images/reviewsAva3.jpg"
                  alt="review ava"
                  loading="lazy"
                  width="80"
                  height="80"
                  class="reviewsMob-section__image"
                />
              </div>
              <div class="reviewsMob-section__name-rate-wrapper">
                <p class="reviewsMob-section__name">Marry</p>
                <div class="reviewsMob-section__rate-wrapper">
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </div>
              </div>
            </div>
            <p class="reviewsMob-section__slide-description">
              Great tour. I really liked the atmosphere, professional approach
              and very interesting information
            </p>
          </div>
        </div>

        <!-- 4slide -->
        <div class="swiper-slide reviewsMob-section__swiper-slide">
          <div class="reviewsMob-section__slide-inner-wrapper">
            <div class="reviewsMob-section__img-and-info-wrapper">
              <div class="reviewsMob-section__image-wrapper">
                <img
                  srcset="
                    ./images/reviewsAva4.jpg    1x,
                    ./images/reviewsAva4@2x.jpg 2x
                  "
                  src="./images/reviewsAva4.jpg"
                  alt="review ava"
                  loading="lazy"
                  width="80"
                  height="80"
                  class="reviewsMob-section__image"
                />
              </div>
              <div class="reviewsMob-section__name-rate-wrapper">
                <p class="reviewsMob-section__name">Fedir</p>
                <div class="reviewsMob-section__rate-wrapper">
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </div>
              </div>
            </div>
            <p class="reviewsMob-section__slide-description">
              We traveled with a company and it was incredible, everyone without
              exception was satisfied and we will definitely go somewhere else
              with you and will recommend it to everyone
            </p>
          </div>
        </div>

        <!-- 5slide -->
        <div class="swiper-slide reviewsMob-section__swiper-slide">
          <div class="reviewsMob-section__slide-inner-wrapper">
            <div class="reviewsMob-section__img-and-info-wrapper">
              <div class="reviewsMob-section__image-wrapper">
                <img
                  srcset="
                    ./images/reviewsAva5.jpg    1x,
                    ./images/reviewsAva5@2x.jpg 2x
                  "
                  src="./images/reviewsAva5.jpg"
                  alt="review ava"
                  loading="lazy"
                  width="80"
                  height="80"
                  class="reviewsMob-section__image"
                />
              </div>
              <div class="reviewsMob-section__name-rate-wrapper">
                <p class="reviewsMob-section__name">Anastasia</p>
                <div class="reviewsMob-section__rate-wrapper">
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </div>
              </div>
            </div>
            <p class="reviewsMob-section__slide-description">
              Professional guides, comfortable transport, excellent hotels and
              exciting excursions - it was unforgettable! I recommend this
              company to anyone who wants to get the best experience out of
              their trip.
            </p>
          </div>
        </div>

        <!-- 6slide -->
        <div class="swiper-slide reviewsMob-section__swiper-slide">
          <div class="reviewsMob-section__slide-inner-wrapper">
            <div class="reviewsMob-section__img-and-info-wrapper">
              <div class="reviewsMob-section__image-wrapper">
                <img
                  srcset="
                    ./images/reviewsAva6.jpg    1x,
                    ./images/reviewsAva6@2x.jpg 2x
                  "
                  src="./images/reviewsAva6.jpg"
                  alt="review ava"
                  loading="lazy"
                  width="80"
                  height="80"
                  class="reviewsMob-section__image"
                />
              </div>
              <div class="reviewsMob-section__name-rate-wrapper">
                <p class="reviewsMob-section__name">Victoria</p>
                <div class="reviewsMob-section__rate-wrapper">
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </div>
              </div>
            </div>
            <p class="reviewsMob-section__slide-description">
              I felt cozy and comfortable throughout the tour. Would have liked
              a little more free time to explore on my own, but overall was
              happy with the tour.
            </p>
          </div>
        </div>

        <!-- 7slide -->
        <div class="swiper-slide reviewsMob-section__swiper-slide">
          <div class="reviewsMob-section__slide-inner-wrapper">
            <div class="reviewsMob-section__img-and-info-wrapper">
              <div class="reviewsMob-section__image-wrapper">
                <img
                  srcset="
                    ./images/reviewsAva7.jpg    1x,
                    ./images/reviewsAva7@2x.jpg 2x
                  "
                  src="./images/reviewsAva7.jpg"
                  alt="review ava"
                  loading="lazy"
                  width="80"
                  height="80"
                  class="reviewsMob-section__image"
                />
              </div>
              <div class="reviewsMob-section__name-rate-wrapper">
                <p class="reviewsMob-section__name">Valeriy</p>
                <div class="reviewsMob-section__rate-wrapper">
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </div>
              </div>
            </div>
            <p class="reviewsMob-section__slide-description">
              My trip on the tour with this site was unforgettable! Excellent
              organization, comfortable hotels and exciting excursions. Every
              detail was carefully thought out and I could enjoy every moment
              without any worries.
            </p>
          </div>
        </div>

        <!-- 8slide -->
        <div class="swiper-slide reviewsMob-section__swiper-slide">
          <div class="reviewsMob-section__slide-inner-wrapper">
            <div class="reviewsMob-section__img-and-info-wrapper">
              <div class="reviewsMob-section__image-wrapper">
                <img
                  srcset="
                    ./images/reviewsAva8.jpg    1x,
                    ./images/reviewsAva8@2x.jpg 2x
                  "
                  src="./images/reviewsAva8.jpg"
                  alt="review ava"
                  loading="lazy"
                  width="80"
                  height="80"
                  class="reviewsMob-section__image"
                />
              </div>
              <div class="reviewsMob-section__name-rate-wrapper">
                <p class="reviewsMob-section__name">Ilona</p>
                <div class="reviewsMob-section__rate-wrapper">
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                  <svg
                    class="reviewsMob-section__rate-icon"
                    width="24"
                    height="24"
                  >
                    <use href="./images/symbol-defs.svg#icon-star"></use>
                  </svg>
                </div>
              </div>
            </div>
            <p class="reviewsMob-section__slide-description">
              My tour with this agency was incredible! Everything was organized
              to a high standard, including transport, accommodation and
              excursions. The guides were very professional and knew every
              corner of the place where we were going.
            </p>
          </div>
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="reviewsMob-section__navigation">
        <div class="prevEl">
          <svg class="reviewsMob-section__navigation-icon" width="114">
            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="nextEl">
          <svg class="reviewsMob-section__navigation-icon" width="114">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
